openai==1.92.0
litellm==1.73.1
vllm==0.6.6.post1
gritlm==1.0.2
torch==2.5.1
transformers==4.45.2
networkx==3.4.2
pydantic==2.10.4
python_igraph==0.11.8
tenacity==8.5.0
tiktoken==0.7.0
nest_asyncio
numpy~=1.26.4
scipy
tqdm~=4.67.1
einops
boto3~=1.40.58
dotenv~=0.9.9
torch_geometric
igraph~=0.11.8
pandas~=2.3.3
torch-geometric~=2.7.0
httpx~=0.28.1
filelock~=3.17.0
packaging~=25.0
outlines~=0.1.11
hipporag~=2.0.0a4
requests~=2.32.5
botocore~=1.40.58
sentence-transformers~=5.1.2
python-dotenv~=1.1.1
setuptools~=80.9.0